#app {
    color: #FFFFFF;
}

body {
    background: linear-gradient(to top, #ffffff 70%, #3399ff 103%);
}

nav, footer {
    background-color: inherit !important;
}

.login-form {
    margin-bottom: 85px;
    background-color: #1E45B0;
    padding: 40px;
    margin-top: 40px;
}

.signup-form {
    margin-bottom: 2px;
    background-color: #1E45B0;
    padding: 30px;
    margin-top: 20px;
}

.login-img {
    height: 100px;
    width: 100px;
    margin-left: 90px;
    // margin-left: auto;
}

.signup-img {
    height: 60px;
    width: 60px;
    margin-left: 120px;
    // margin-left: auto;
}
div.dashboard {
  background-image: url('/images/pexels-photo.jpeg') !important;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: fixed;
  height: 100%;
  width: 100%;
  margin: 0;

}

.overlay {
    height: 100%;
    width: 100%;
    background-color: rgba(170, 187, 229, 0.5);
    margin-top: -32px;
}